{% assign navPages = collections.footer | eleventyNavigation %}

<footer class='Footer'>
  <div class='Container Footer__Content'>
    <div class='Footer__Social'>
      <nav class='SocialNav'>
        {% for contact in contacts %}
          <a
            href='{{ protocol }}{{ contact.url | url }}'
            rel='{% if contact.rel %}{{contact.rel}}{% endif %} {% if contact.target %}noopener{% endif %}'
            {% if contact.target %}
              target='{{ contact.target }}' rel='noopener'
            {% endif %}
          >
            {% comment %} {% svg svg_name %} {% endcomment %}
            <span class='sr-only'>
              {{- contact.name }}
              {% if contact.target %}- Opens in new Tab{% endif -%}
            </span>
          </a>
        {% endfor %}
      </nav>
    </div>

    <div class='Footer__Nav'>
      <ul class='FooterNav'>
        {% for entry in navPages %}
          <li class='FooterNav__Item'>
            <a class='FooterNav__Link' href='{{ entry.url | url }}'>
              {{ entry.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class='Container Footer__Details'>
    <p class='Footer__Copy Subtitle'>&copy; Liam Richardson.</p>
    <div id='wcb' class='carbonbadge wcb-d'></div>
  </div>
</footer>
